apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: expense-tracker
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/guptaritik2712/Expense-tracker-app.git
    targetRevision: main
    path: k8s
  destination:
    server: https://kubernetes.default.svc
    namespace: expense-tracker
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true