apiVersion: apps/v1
kind: Deployment
metadata:
  name: deployment
  namespace: expense-tracker-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: expense-tracker
  template:
    metadata:
      labels:
        app: expense-tracker
    spec:
      containers:
      - name: expense-tracker
        image: guptaritik2712/expense-tracker-app:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 80