---
apiVersion: v1
kind: Service
metadata:
  name: service
  namespace: expense-tracker
  labels:
    app: expense-tracker
spec:
  selector:
    app: expense-tracker
  ports:
  - port: 80
    targetPort: 80
    nodePort: 30080
  type: NodePort